@import url('https://d2refp30laz1gf.cloudfront.net/btse/font/BTSE/stylesheet.css');

#card-data {
  font-family: 'BTSE' sans-serif;
  display: flex;
  gap: 14px;
  width: auto;
  margin:0;
  padding:0;
  border-radius: 0;
  flex-direction: column;
  justify-content: end;
  border: none;
  background: #fff;
}
#pan-div,
#expiry-div,
#cvv-div {
  display: flex;
  color: #000;
}
#pan-p,
#expiry-p,
#cvv-p {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  font-family: 'BTSE', Courier, monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: #8698AA;
}
span {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
}
#pan-div {
  justify-content: space-between;
  align-items: center;
}
#pan-div i {
  display: none;
}
