@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://d2refp30laz1gf.cloudfront.net/btse/font/BTSE/stylesheet.css');

#card-data {
  display: flex;
  gap: 12px;
  width: auto;
  margin:0;
  padding:0;
  border-radius: 0;
  flex-direction: column;
  justify-content: end;
  border: none;
  background: transparent;
}
#pan-div,
#expiry-div,
#cvv-div {
  display: flex;
  color: #000;
}
#pan-p,
#expiry-p,
#cvv-p {
  display: inline-flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 2px;
  margin: 0;
  font-family: 'BTSE','Helvetica Neue',"Helvetica", "Arial", "PingFang TC", "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", "sans-serif";
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: #8698AA;
}
span {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: #1B2338;
}
#pan-div {
  justify-content: space-between;
  align-items: center;
}
#pan-div i {
  display: none;
}
